.card {
   margin: 20px 200px 20px 200px;
   padding: auto;
   border-radius: 90px;
   background: linear-gradient(135deg, #f1f0ec, #b18449);
}

.card-image {
   max-width: 200px;
   height: 200px;
}
.cardBottom {
   margin: 20px 200px 20px 200px;
   padding: auto;
   background: linear-gradient(135deg, #f1f0ec, #b18449);
   border-radius: 3px;
}