.card{
   max-width: 50%;
   background: linear-gradient(135deg, rgb(161, 120, 57), rgb(236, 236, 240));
    padding: 30px;
    margin: 20px 200px 20px 200px;
}
.card-image {
   width: 100px;
   height: 100px;
}